.deskripsi{
    color: white;
}

.main-product{
    color:black;
    background-color:white;
    text-align: center;
    padding: 1vw;
}

.product1{
    width: 210px;
    float: left;
    margin-top: 1vw;
    margin-right: 1vw;
    margin-left: 1.65vw;
    margin-bottom: 1vw;
}

.clear{
    clear: left;
}

.main-prod-content{
    margin: 10px auto;
    width: 85%;
}

.sticky-nav{
    padding: 0 4vw;
    background-color: #000;
    /* position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999; */
}

.sticky-nav li{
    margin: 0 1vw;
    font-size: 1.35rem;
}

.container-header{
    background-color: aqua;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.footer{
    font-size: 0.7rem;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 0;
    box-sizing: border-box;
}

.footer-light{
    color: rgba(0, 0, 0, 0.55);
    border-top: 1px solid rgba(0, 0, 0, 0.55);
}

.footer-dark{
    color: rgba(255,255,255,.55);
    border-top: 1px solid rgba(255,255,255,.55);
}

.footer-content{
    padding: 1vw;
    box-sizing: border-box;
    margin: 1vw auto;
    max-width: 94%;
    position: relative;
}

.footer-content-left, .footer-content-right{
    float: left;
}

.footer-content-right{
    position: absolute;
    right: 1vw;
    bottom: 1vw;
    top: 1vw;
}

.footer-content-right li{
    margin: 0 0.5rem;
    display: inline-block;
}

.footer-content-right ul{
    padding: 0;
    margin: 0;
}

.img-container{
    height: 380px;
}

.img-container img{
    height: 80%;
    margin-left: 10%;
}

.cari i{
    font-size: 1.6rem;
    font-weight: 500;
}

.cari button{
    /* border-radius: ; */
    border: none;
    padding: 0;
    color: rgba(255,255,255,.55);
    margin-left: 0.5vw;
}

.cari button:hover{
    color: #fff;
    background-color: #000;
}

.cari input{
    border-radius: 20px;
    border: 1px solid #000;
    padding: 0.55vw 1.5vw;
}

.container .deskripsi h1{
    background: linear-gradient(to right, rgb(255,0,0), rgb(255,255,0), rgb(0,255,255), rgb(255,0,255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
}

.member .dropdown .dropdown-custom li{
    margin: 0;
    padding: 10px;
}

.member .dropdown .dropdown-custom .li-words{
    word-spacing: 0;
}

.member .dropdown .dropdown-custom a{
    font-size: 1rem;
    font-weight: 400;
    word-spacing: 0.5rem;
    padding: 0;
}

.member .dropdown .dropdown-custom li:hover,
.member .dropdown .dropdown-custom a:hover{
    background-color: rgb(176, 177, 177);
}

.fa-user-circle, .fa-sign-out, .fa-plus-circle{
    font-size: 1.3rem;
}

.fa-eye{
    font-size: 1.1rem;
}