.deskripsi{
    color: white;
}

.main-product{
    color:black;
    background-color:white;
    text-align: center;
    padding: 1vw;
}

.product1{
    width: 210px;
    float: left;
    margin-top: 1vw;
    margin-right: 1vw;
    margin-left: 1.65vw;
    margin-bottom: 1vw;
}

.clear{
    clear: left;
}

.main-prod-content{
    margin: 10px auto;
    width: 85%;
}

.sticky-nav{
    background-color: #000;
    /* position: fixed; */
}

.sticky-nav li{
    font-size: 1.15rem;
}

.footer{
    font-size: 0.7rem;
    color: rgba(255,255,255,.55);
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 0;
    box-sizing: border-box;
}

.footer-content{
    padding: 1vw;
    box-sizing: border-box;
    margin: 1vw auto;
    max-width: 95%;
    position: relative;
    border-top: 1px solid white;
}

.footer-content-left, .footer-content-right{
    float: left;
}

.footer-content-right{
    position: absolute;
    right: 1vw;
    bottom: 1vw;
    top: 1vw;
}

.footer-content-right li{
    margin: 0 0.5rem;
    display: inline-block;
}

.footer-content-right ul{
    padding: 0;
    margin: 0;
}


