/*Font*/
@font-face {
	font-family:raleway;
	src: url('../fonts/Raleway/static/Raleway-Medium.ttf');
}
h1{
    text-align: center;
}

.judul{
    color: rgb(0, 0, 0);
    margin: 2rem auto;
}

.line{
    border-top: 5px solid blue;
}

label{
    color: rgb(0, 0, 0);
}

.selection{
    margin: 1vw;
    padding: 1vw;
}

.product{
    margin-left: 2vw;
    margin-bottom: 2vw;
    margin-right: 2vw;
  }

.category{
    font-size: 150%;
    float: left;
    width: 20%
}

.item{
    float: left;
    width: 50%;
}

.item-size{
    width: 90%;
}

.quantity{
    height: 50px;
    width: 20%;
    float: left;
}

.banyak{
    width: 50px;
}

.price{
    float: left;
    width: 10%;
}

.harga{
    width: 90px;
}

.borderHarga{
    border-width:1px;
    border-style:solid;
    padding:5px;
    border-color: #CDD0CB;
    background-color: #E8EAE6;
}

.total{
    float: right;
}

.img-product {
    width: 300px;
    float: left;
    margin-top: 2vw;
    margin-left: 4vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
}

.img-product img{
    width: 100%;
}

.info-product {
    float: left;
    color: white;
    margin-left: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-right: 4vw;
}

.desc-product{
    clear: left;
    color: white;
    margin-left: 4vw;
    margin-top: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
}

.konten{
    display: flex;
}

.konten div{
    margin-left: 2vw;
}

.konten-quantity {
    margin: 1vw;
    height: 50px;
    width: 20%;
    float: left;
}

.konten-quantity-size {
    width: 100%;
}

.konten-beli{
    margin-top: 0.8vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
    margin-right: 1vw;
    display: flex;
}

#upload-profil{
    width: 25%;
}

/* CSS product */
.card {
    margin-left: 1.5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.size-img {
    padding-top: 1vw;
    height: 300px;
}

.card-body {
    height: 270px;
}

#posisi {
    margin-right: 10px;
    margin-bottom: 10px;
}

.list-product{
    padding: 3vw;
}
.list-product-container{
    padding: 1vw;
}

.qty-bar b{
    margin-left: 10px;
    margin-right: 10px;
}

.clear-right{
    clear: right;
}
