/*Font*/
@font-face {
	font-family:raleway;
	src: url('../fonts/Raleway/static/Raleway-Medium.ttf');
}
h1{
    text-align: center;
}

.line{
    border-top: 5px solid blue;
}

.selection{
    margin: 1vw;
    padding: 1vw;
}

.product{
    margin-left: 2vw;
    margin-bottom: 2vw;
    margin-right: 2vw;
  }

.category{
    font-size: 150%;
    float: left;
    width: 20%
}

.item{
    float: left;
    width: 50%;
}

.item-size{
    width: 90%;
}

.quantity{
    height: 50px;
    width: 20%;
    float: left;
}

.quantity-size{
    width: 100%;
}

.banyak{
    width: 50px;
}

.price{
    float: left;
    width: 10%;
}

.price-size{
    width: 80%;
}

.harga{
    width: 90px;
}

.total{
    float: right;
}
