/*Font*/
@font-face {
	font-family:raleway;
	src: url('../fonts/Raleway/static/Raleway-Medium.ttf');
}
body, html{
	font-family: raleway;
	height : 100%;
}
body{
	font: 14px sans-serif;
	background-image :  url('');
}
.container-left {
    float: left;
    margin-left: 3vw;
    margin-right: 2vw;
    margin-top: 3vw;
    width: 45%;
    padding: 1vw;
    border: 1px solid black;
}
.container-right {
    float: left;
    margin-left: 2vw;
    margin-top: 3vw;
    width: 45%;
    border: 1px solid black;
    padding: 1vw;
    position: sticky;
    top: 1%;
}
.form-group{
    padding: 0.5vw;
}

.container-fluid{
    margin:1vw
}

.cari{
    margin-left: 10px;
    width: 55%;
    margin-top: 1vw;
    float: left;
}

.register{
    margin-top: 1vw;
    float: right;
}

.member{
    margin-top: 1vw;
    float: right;
}

.h2-regis,.p-regis,.h2-in,.p-in{
    color: white;
}
